__pycache__
*.py[co]
*.swp
*~
*.egg*

/build/
/dist/
/*/static/dist/*
/*/static/fonts/*
/*/static/css/patternfly*
/*/static/js/patternfly*
/*/static/img/spinner*

/node_modules/
/config/indoktrinator.local.ini
