/* remove double border at paginator */
.table>tbody+tbody {
    border-top-width: 1px !important;
}

.array-row {
    margin-bottom: 4px
}

.list-view-pf-view.playlist .list-group-item .list-view-pf-main-info {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* fix problem with time icon in playlist editor */
.list-view-pf-additional-info {
    display: initial;
}

.list-view-pf-actions {
    margin-bottom: 10px;
    margin-top: 10px;
}

.list-view-pf-actions button.close {
    padding: 3px;
}

h1.editable {
    cursor: pointer;
}

.playlist-name-edit {
    line-height: 30px;
    height: 30px;
}


.playlist-name-edit button {
    margin-left: 10px !important;
    margin-top: -4px !important;
}

.program .col {
	width: 14.2857%;
	float: left;
	padding: 0 5px;
    border-right: 1px solid #ddd;
    min-height: 500px;
}

.program .col .list-group-item {
    position: relative;
}


.program .col .list-group-item .edit {
    position: absolute;
    height: 300px;
    width: 200px;
    left: -0px;
    z-index: 4;
    top: 15px;
    box-shadow: #bbb 1px 1px 30px;
}

.program .list-group-item .time {
	display: block;
	font-weight: bold;
}

.list-group-item.empty {
    font-size: large;
    padding: 0;
    text-align: center;
}

.list-group-item.placeholder {
    padding: 50px 0;
    text-align: center;
}
